<div class="demo-headline">
	<h1>Who will be in your classes<br> next semester?</h1>
	<h1 class="demo-logo">
		<small>Find out by letting me connect you with your friends!</small>
		<div class="logo"></div>
	</h1>
	<!-- Login form -->
	<!-- <form class="form-signin" role="form" ng-submit="fbLogin()"> -->
    <!-- Submit button -->
    <button class="signin-button btn btn-info btn-embossed btn-wide btn-hg" type="button" ng-click="fbLogin()"><span class="fui-facebook"></span> Login with Facebook</button>
	<!-- </form> -->

	<h1 class="demo-logo bottom-text">
		<small>This is a work in progress. When finals are over I plan to add more<br> features because we all know web registration sucks <span class="fui-heart"></span></small>
	</h1>
</div>